/* Hide table row */
.hide_table_row {
  display: none !important;
  height: 100px;
}

/* Style autocomplete dropdown */
.ui-state-hover,
.ui-widget-content .ui-state-hover {
  border: #D41B2C !important;
  background: #D41B2C 50% 50% !important;
}

/* Centers a div */
.center_div {
  text-align: center;
}

/* Style mystery player replaced line */
.stats_mystery_player {
  text-align: center;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}


/* Statistics popup header */
.stats_popup_header {
  font-size: 26px;
  color: #D41B2C;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px;
}

/* Make some parts of the table in the statistics popup wider */
.wider {
  width: 150px;
}

/* Set the fonts in the table in the statistics popup */
.font_for_stats_table {
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400 !important;
}

/* Hide things */
.hide_input, .share_help, .hide_submit {
  display: none !important;
}

/* Style a green square in the table of guess results */
.green_square {
  background-color: #0f9f6e !important;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* Style a grey square in the table of guess results */
.grey_square {
  background-color: #e2e8f0 !important;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* Style a yellow square in the table of guess results */
.yellow_square {
  background-color: #faca17 !important;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* Style the title at the top of the page */
.title {
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 48px;
  font-weight: 700
}

/* Style the subheader at the top of the page */
.subhead {
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

/* Style the header for the name column of the guess results */
.name_col_top_cell {
  width: 170px;
}

/* Style the rest of the name column of the guess results */
.name_col {
  width: 170px;
  font-weight: bold;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

/* Style the footer text */
.footer_text {
  font-family: arial;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Style the player name entry boxes */
.enter_div {
  text-align: center;
  margin-bottom: 20px;
}

/* Style the player autofill entry text box */
.enter_player_box {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  width: 280px;
  border: 2px solid #000000;
}
.enter_player_box:focus {
  outline: none !important;
  border: 2px solid #D41B2C;
}
input[type="text"] {
  font-size:24px;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
input[type="text"]:focus {
  border: 2px solid #D41B2C;
}

/* Style the row of the table with the attribute headings (name, sport, etc.) */
.table_top_row {
  vertical-align:bottom;
  text-align:center;
  height: 30px;
  border-bottom: 2px solid black;
}

/* Set a rows's height when it is un-hidden */
.reveal_row {
  height: 100px;
}

/* Style all tables in popups and on the main page */
table, th, td {
  margin-top: 20px;
  border-collapse: collapse;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 100px;
}

/* Style the header bar */
.header_design {
  background-color: #D41B2C;
  text-align: center !important;
  line-height: 60px;
  height: 60px;
  vertical-align: partially_correct;
  overflow: hidden;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

/* Style the footer bar */
.footer_design {
  background-color: #D41B2C;
  text-align: center !important;
  height: 60px;
  vertical-align: partially_correct;
  overflow: hidden;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

/* Style the buttons in the header bar */
.header_design a {
  color: #f2f2f2;
  text-align: center !important;
  padding: 20px 70px;
  text-decoration: none;
  font-size: 18px;
}

/* Style links in popups */
.nav_links {
  background-color: #D41B2C;
  text-align: center !important;
  line-height: 60px;
  height: 60px;
  vertical-align: partially_correct;
  overflow: hidden;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  width: 15%;
}

/* Hide popup boxes by default */
#popupp_box_how_to_play, #popup_box_stats, #popup_box_about, #winner_popup_box, #loser_box {
  display: none;
}

/* Style table rows when the become visible after a guess */
.row_visible {
  height: 100px;
  border: none;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px !important;
  font-weight: 400 !important;
}

/* Fix the margins of the page */
html, body, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* Set the background color to off white */
body {
  background-color: #f4f2ec
};

/* Style the popup windows */
.pop {
  position: absolute;
  width: 50%;
  margin: auto;
  padding: 20px;
  height: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-width: 4px;
  border-color: #D41B2C;
  border-radius: 10px;
}

/* Style the popup windows on small devices like phones and tablets */
@media (max-width: 640px) {
  .pop {
    position: relative;
    width: 100%;
    border-style: solid;
    border-width: 4px;
    border-color: #D41B2C;
    border-radius: 10px;
  }

  .pop .popup_inner {
    width: 100%;
  }
}

/* Style the popup windows internals */
.pop .modal {
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}
.pop .popup_inner {
  -webkit-transform: translate(-50%, -50%) scale(0.75);
          transform: translate(-50%, -50%) scale(0.75);
  top: 50%;
  left: 50%;
  width: 50%;
  background: white;
  padding: 30px;
  position: absolute;
  color: black;
  border-style: solid;
  border-width: 4px;
  border-color: #D41B2C;
  border-radius: 10px;
}
.pop .win_lose_inner {
  -webkit-transform: translate(-50%, -50%) scale(0.75);
          transform: translate(-50%, -50%) scale(0.75);
  top: 50%;
  left: 50%;
  width: 50%;
  background: white;
  padding: 30px;
  position: absolute;
  color: black;
  border-style: solid;
  border-width: 4px;
  border-color: #D41B2C;
  border-radius: 10px;
  text-align: center;
}
.btn-close {
  color: #fff;
  text-align: center;
  font-size: 25px;
}
.pop label {
  display: inline-block;
  cursor: pointer;
}
.pop label.open {
  color: turquoise;
  -webkit-transition: color 50ms ease-in-out;
  transition: color 50ms ease-in-out;
  text-decoration: underline;
}
.pop label.open:hover {
  color: paleturquoise;
}
.pop input {
  display: none;
}
.pop input:checked + .modal {
  opacity: 1;
  visibility: visible;
}
.pop input:checked + .modal .popup_inner {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: all 50ms ease-in-out;
          transition: all 50ms ease-in-out;
}
.pop input:checked + .modal .popup_inner p {
  font-size: 1.25rem;
  line-height: 125%;
}
.pop input:checked + .modal label {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  background: #D41B2C;
  -webkit-transition: all 50ms ease-in-out;
          transition: all 50ms ease-in-out;
}
.pop input:checked + .modal label:hover {
  background: #D41B2C;
}

/* Style the text in the footer */
#footer_text {
  display:flex; flex-flow:row wrap;
}

/* Style the inspiration links on the left of the footer */
.footer_left {
  width:33.33333%;
  text-align:left;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  line-height: 60px;
}

/* Style the Twitter/X links on the right of the footer */
.footer_right {
  width:33.33333%;
  text-align:right;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

/* Style the centered button in the footer */
.footer_center {
  background-color: #D41B2C;
  text-align: center !important;
  line-height: 60px;
  height: 60px;
  vertical-align: partially_correct;
  overflow: hidden;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  width: 33.33333%;
}

/* Hide link coloring/underline */
a:link, a:visited, a:hover, a:active {
  color: white;
  text-decoration: none;
}

/* Wrap the whole page in flex formatting */
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

/* Style the player entery autocomplete fields */
.ui-autocomplete {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  padding: 4px 0;
  margin: 0 0 10px 25px;
  list-style: none;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  border-color: black;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: black;
    white-space: nowrap;
    text-decoration: none;
}
.ui-state-hover, .ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #D41B2C;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
  border-color: #D41B2C;
}

/* Style various headers */
.guess_player_header {
  font-size: 30px;
  color: #D41B2C;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-align: center;
}


/* Style the how to play popup */
.how_to_play {
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* Space out list items */
li {
  margin: 10px 0;
}

/* Style the headlines in the about popup */
.about_popup_headers {
  font-size: 18px;
  color: #D41B2C;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0px;
}

/* Style the links in the about popup */
.about_popup_links {
  color: #D41B2C !important;
  text-decoration: underline !important;
}

/* Style the popups for winning, losing, clicking header/footer buttons */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Make the popups fade in */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Style the buttons to click to add the shareboard to the clipboard */
.share_button {
  text-align: center !important;
  align-items: center !important;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  cursor:pointer;
}

/* Resize the page for phone screens */
@media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
  body {
    zoom: 1.7;
    -moz-transform: scale(1.7);
    -moz-transform-origin: 0 0;

    font-size: 120%;
  }

  table, th, td {
    margin-top: 20px;
    border-collapse: collapse;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 100%;
    padding: 2px;
  }

  .how_to_play {
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 23px;
    font-weight: 400;
  }

  .pop .popup_inner {
    width: 80% !important;
  }

  .footer_design {
    position: fixed !important;
    bottom: 0 !important;
  }

  .nav_links {
    width: 30% !important;
  }

  .footer_left {
    color: #D41B2C !important;
  }
}

/* Resize the page for small phone screens */
@media only screen and (max-device-width : 389px) {
  body {
    font-size: 110%;
  }

  .name_col {
    font-size: 15px;
  }

  .how_to_play {
    font-size: 15px;
  }
}